<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>972251700661-bcq30joe8oik2c4sueb6u37mseqi0co7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972251700661-bcq30joe8oik2c4sueb6u37mseqi0co7</string>
	<key>API_KEY</key>
	<string>AIzaSyA0-HRzHUMMeTUjdAJqUtxhHiRB-AKjssQ</string>
	<key>GCM_SENDER_ID</key>
	<string>972251700661</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Eileen.week5</string>
	<key>PROJECT_ID</key>
	<string>rcweek5</string>
	<key>STORAGE_BUCKET</key>
	<string>rcweek5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972251700661:ios:522ee5c01a5590446e0dfc</string>
</dict>
</plist>